[ req ]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[ req_distinguished_name ]
C = BR
ST = Paraiba
L = Campina Grande
O = Universidade Federal de Campina Grande
OU = UFCG
CN = envoy-service.zt.local

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = envoy-service.zt.local
DNS.2 = service.zt.local
